@charset "utf-8";
.icerik{
	font-size:32px;
	font-family:arial;
	
	
}

.aciklamaBaslik{
	font-size:18px;
	font-family:arial;
	
	
}

.araaciklama{
	font-size:22px;
	font-family:arial;
	
	
}

.resimAciklama{
	font-weight:bold;
	
}

.resimBaslik{
	font-size:22px;
	font-weight: bold;
	
}
