@charset "utf-8";
#anaDiv{
	height: auto;
	width: 100%;
	}

#Header {
	width: 100%;
	height: auto;
}	

#logo {
	width: 10%;
	height: auto;
	float: left;
}

#banner{
	width: 90%;
	height: auto;
	float: left;
	}
	
#icerik1Dİv{
	height: auto;
	width: 100%;
	clear: both;
	}

#icerikDiv {
	height: auto;
	width: 90%;
	float: left;
}
#menuDiv {
	float: left;
	height: auto;
	width: 10%;
}

#footer {
	clear: both;
	width: 100%;
	background-color:#CCC;
	padding-top:15px;
	padding-bottom:15px;
}

.link{
	text-decoration:none;
	color: #000;
	}

.araçAdı{
	font-size: 20px;
	color: #333;
	}

.arabaAnaBaslik{
	font-size: 30px;
	color: #333;
}	

.motorAnaBaslik{
	font-size: 30px;
	color: #333;
}	

.motorAdı{
	font-size: 20px;
	color: #333;
}
	
.buton{
	font-size:25px;
	text-decoration:none;
	color:#0000CD;
}

.buton:hover{
	color:#1E90FF;
	text-decoration:none;
}
