@charset "utf-8";
#anaDiv{
	height: auto;
	width: 1700px;
	}

#Header {
	height: auto;
	width: 100%;
}	

#logo {
	height: auto;
	width: 180px;
	float: left;
}

#banner{
	width: 1520px;
	float: left;
	height: auto;
	}
	
#icerik1Dİv{
	height: auto;
	width: 1700px;
	clear: both;
	}

#icerikDiv {
	height: auto;
	width: 1520px;
	float: left;
}
#menuDiv {
	float: left;
	height: auto;
	width: 180px;
}

#fooder {
	clear: both;
	width: 1700px;
	background-color: #CCC;
}

.link{
	text-decoration:none;
	color: #000;
	}

.araçAdı{
	font-size: 20px;
	color: #333;
	}

.arabaAnaBaslik{
	font-size: 30px;
	color: #333;
	}	
.motorAnaBaslik{
	font-size: 30px;
	color: #333;
	}	
.motorAdı{
	font-size: 20px;
	color: #333;
	}
	
